@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

:root{

    --off-white: #f5f5f5;
    --primary: #dd7373;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{

    font-size: 10px;
    height: 100%;
    min-height: 100%;

}

.container2{

    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: flex-start;

}

.card{

    background-color: #eae6e6;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.28);

}

.card-image{

    height: 35rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

.card-image img{

    max-width: 100px;
    height: auto;
    box-shadow: 0 0 0 10px rgb(255, 255, 255);    
    border: 1px solid #024b94;


}

img[src=""] {

    display: none;
}
img[src=""] + [alt]:before {
    content: attr(alt) !important;
    display: block !important;

}
.card-image img:hover{

    scale: 1.2;

}

.alt-text {
    text-align: center; 
    color: #333;
    font-size: 16px;
}

.card-content{

    padding: 0.5rem;
    padding-left: 2.5rem;
    background-color: #eae6e6;


}  


.blog-details,
.icon-text2{

    display: inline;
    text-align: end;

}

.icon-text2{

    margin-right: 0px;

}       

.icon-text2 .icon{

    color: var(--primary);
    margin-right: 0.4rem;

}

.blog-cta{

    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button-btn2{

    padding: 1rem 4rem;
    display: inline-block;
    background-color: var(--primary);
    border-radius: 0.6rem;
    color: var(--off-white);
    text-decoration: none;

}

.button-btn2:hover, .button-btn2.active{

    color: black;
    background-color: #024b94;

}

h2,h3{

    cursor: pointer;

}

h3:hover{

    filter: invert(1);

}

.share-button{

    width: 4rem;
    height: 4rem;
    border: 0.1rem solid var(--primary);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary);
    outline: none;
    transition: all 0.3s ease-in-out;

}

.share-button:focus{

    background-color: var(--primary);
    color: var(--off-white);

}

a{

    text-decoration: none;

}

button{

    border: none;
    outline: none;
    cursor: pointer;

}


.icon-icon{display: block;}

table {
    
    border-spacing: 0;
}
td {
    padding: 0;
}

.main{

    background-color: #ffffff; 
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    font-family: sans-serif;
    color: #4a4a4a;       

}

.two-columns{

    text-align: center;
    font-size: 0;
    width: 100%;
    
}

.two-columns .column {

    width: 100%;
    max-width: 100%;
    display: flex;
    vertical-align: top;
    text-align: left;
    font-size: 0; 
    margin: 0;
    box-sizing: border-box;

    
}

.button{

    background-color: #005fa7;
    color: #ffffff;
    text-decoration: none;
    padding: 22px 20px;
    font-weight: bold;
    border-radius: 5px;
    filter: grayscale(100%);


}

.button:hover{

    filter: none;

}

.two-columns.last{

    padding: 0;
    border-top: 2px solid #007f9a;
    

}



.two-columns .content{

    font-size: 14px;
    line-height: 20px;
    text-align: center;
    

}

.two-columns .content p{

    max-width: 100%;
    overflow-wrap: break-word;
    

}

#facebook{

    filter: grayscale(100%);

}

#facebook:hover{

    filter: none;

}

#category1{

    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease; /* Transiciones suaves para varios efectos */


}

#category1:hover{

    filter: none;

}


.tag{

    margin-left: 5px;
    background-color: #00954f;

}

h2{

    font-size: 15px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #024b94;

}
h3{

    font-size: 17px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #024b94;
    line-height: 1.1em;
    margin-bottom: 5px;

}

#suscribirse:hover{

    color: #024b94;

}

.arrow-link {

    display: block;
  
}

p{

    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    font-size: 12px;

}

h1,h2,h3,h4,h4,h5,h6{

    font-family: 'Montserrat', sans-serif;

}


.titulo{

    width: 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-top: 0px;
    
}


.card-content .excerpt {

    max-width: 100%;
    word-wrap: break-word;
    display: flex;
    align-items: center; /* Align elements vertically */

}


@media screen and (min-width: 900px) {

    .card{

        display: flex;
        height: auto;
        overflow: hidden;
        max-height: 100%;

    }

    .card-image{

        height: auto;
        width: 25%; /* Adjust the desired width */
        height: auto; /* Adjust the desired height */

    }

    .card-content{

        flex: 1;
        display: flex;
        flex-direction: column;

    }

}

@media screen and (max-width: 900px) {

    .card{

        overflow: hidden;

    }

    .card-image{

        height: 20rem;

    }

    .card-image img{

        object-fit:none;
        

    }

    .card-content{

        text-overflow: ellipsis;
        max-width: calc(100% - -20em); 

    }

    #subtitulo1{

        padding-left: 22%!important;

    }
    #subtitulo2{

        padding-left: 24%!important;

    }
    #subtitulo3{

        padding-left: 22%!important;

    }
    #subtitulo4{

        padding-left: 19.5%!important;

    }

    #subtitulo5{

        padding-left: 21.5%!important;

    }

}



.card-image img:not([src]) {

    display: none;

}

.principal{

    text-align: center;
    justify-content: center;

}



.author{

    display: flex;
    align-items: center;

}

.avatar{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;

}

.author-name{

    color: #0071aa;
    font-size: 12px;

}

.publish-date{

    font-size: 12px;

}

.share{

    position:relative;

}

.share-button{

    padding: 1px;
    border-radius: 30px;
    font-size: 10px;
    transition: all 0.25s ease;
    margin-left: 90%;
    margin-bottom: 5px;

}

.share-button:hover, .share-button.active{

    color: black;
    background: white;

}

.share-option{

    --scale: 0;
    --translateX: 0%;
    --translateY: 0%;

    background: darkblue;
    position: absolute;
    bottom: calc(100% +20px);
    left: 25%;
    transform-origin: top;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 2px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 20px -5px darkblue;
    transform-origin: bottom;
    visibility: hidden;
    transition: all 0.25s ease;

}

.share-option.active{

    --scale: 1;
    visibility: visible;

}

.share-option::after{

    content: '';
    background: darkblue;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);

}

.share-option span{

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    margin-right: 5px;

}

.share-option i{

    font-size: 22px;


}

.share-option i:hover,
.article-title:hover,
.author-name:hover{

    filter: invert(1);

}

.articulos h2:hover{

    filter: invert(1);
    cursor: pointer;

}


.autora{

    display: flex;
    align-items: center;

}


.conten-sub{

    width: 100%;
    height: 100%;
    background: #008886;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.conten-sub h2{

    color: #ffffff;
    font-size: 15px;

}

.conten-sub form{

    width: 100%;
    max-width: 440px;
    display: flex;

}

.conten-sub form .campo{

    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    outline: 0px;

}

.conten-sub form .btn-sub{

    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px;
    background: #0071aa;
    color: #ffffff;
    cursor: pointer;
    outline: 0px;
    margin-left: 5px;

}

.conten-sub form .btn-sub:hover{

        filter: invert(1);

}

.subtitle {
    min-width: 150px; 
    display: inline-block;
    font-weight: bold; 
    margin-right: 0px;
    flex-direction: column;
    align-items: flex-start;
}

#subtitle{

    font-weight: bold; 


}

.container3{

    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}

#title{

    color: white !important;

}

.form-content{

    width: 100%;
    max-width: 450px;
    background-color: #024b94;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;

}

.form-content h2{

    font-size: 30px;
    margin-bottom: 60px;
    color: #fff;
    position: relative;

}

.form-content h2::after{

    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);

}

.input-field{

    background-color: #fff;
    margin: 30px auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border: 0;
    padding: 2px;
    border: 2px solid #037e53;

 

}

input::placeholder{
    
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
}



.input-field i{

    margin-left: 15px;
    color:#037e53;
    font-weight: bold;
    font-size: 13px;
    

}

form p{

    color: #fff;
    text-align: center;
    font-size: 12px;

}

form p a{

    color: #04bd7d;
    margin-left: 5px;

}

.btn-field{

    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button{

    display: flex;
    font-size: 16px;
    background-color: #01a86e;
    color: #fff;
    height: 40px;
    border-radius: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition:  background 1s;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 20px;
    margin-top: 10px;

}

.btn-field button:hover{

    background-color: #02c581;
    color: black;


}



.input-group{

    height: 250px;

}

